.page-width {
  max-width: var(--page-width);
  margin: 0 auto;
  padding: 0 1.5rem;
}

@media screen and (min-width: 750px) {
  .page-width {
    padding: 0 5rem;
  }
}

.page-width--narrow {
  max-width: var(--page-width) / 2;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.isolate {
  position: relative;
  z-index: 0;
}
