.section-padding {
  padding-top: var(--pt-mobile);
  padding-bottom: var(--pb-mobile);
}

@media screen and (min-width: 750px) {
  .section-padding {
    padding-top: var(--pt-desktop);
    padding-bottom: var(--pb-desktop);
  }
}
